.df-comp-browser-incompatibility {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;

  .df-comp-browser-incompatibility__wraper {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 220px;

    .df-comp-browser-incompatibility__left {
      img {
        width: 420px;
        height: 220px;
      }
    }

    .df-comp-browser-incompatibility__right {
      width: 300px;
      margin-left: 40px;

      .title {
        font-size: 40px;
        color: #222;
        font-weight: bold;
        margin-top: 20px;
        line-height: 60px;
      }

      .tip {
        margin-top: 10px;
        font-size: 16px;
        color: #666666;
        line-height: 24px;
        margin: 0 0 30px;
      }
    }
  }
}