@import './layout.scss';
@import './common.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "PingFang SC", "Helvetica Neue", "Apex Sans", "Helvetica", "Microsoft YaHei", "FZLanTingHeiS-R-GB";
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  min-width: 1000px;
  min-height: 500px;
}

// 设置全局滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}